<div class="ilanSayfasi">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body vertical-center">
                    <h3 class="text-center">İlan Başlığı</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="1.jpg" alt="Profil Fotoğrafı" class="img-fluid rounded-corners">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <img src="1.jpg" alt="Fotoğraf 1" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="2.jpg" alt="Fotoğraf 2" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="3.jpg" alt="Fotoğraf 3" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Araç Adı</td>
                                <td>Örnek Araç</td>
                            </tr>
                            <tr>
                                <td>Üretim Yılı</td>
                                <td>2010</td>
                            </tr>
                            <tr>
                                <td>Diğer</td>
                                <td>Yakında</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Satıcı:</td>
                                <td>Ahmet</td>
                            </tr>
                            <tr>
                                <td>İlan Fiyatı:</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Hello World
                </div>
            </div>
        </div>
    </div>
</div>