<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-grid gap-2 mb-3">
                    @if(ViewBag.Uye != null)
                    {
                        <a asp-controller="Uye" asp-action="Home" class="btn btn-info" id="registerButton">Üye Ana Sayfasına Git</a>
                        <a asp-controller="Uye" asp-action="Profile" class="btn btn-primary" id="loginButton">Profile Git</a>
                    }
                    else
                    {
                        <a asp-controller="Uye" asp-action="Kayit" class="btn btn-info" id="registerButton">Kayıt Ol</a>
                        <a asp-controller="Uye" asp-action="Giris" class="btn btn-primary" id="loginButton">Giriş Yap</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>